{% assign byyear = site.posts | sort: "date" | reverse | where:"category","blog" | group_by_exp: "post","post.date | date: '%Y'" | sort:"name" | reverse %}

{% for yeargroup in byyear %}
### {{ yeargroup.name }}

{% for post in yeargroup.items %}
  [**{{ post.title }}**]({{ post.url | relative_url }})
  {% include post-info.html post=post %}
  {% include tags.html tags=post.tags %}

  {% if post.excerpt %}
    {{ post.excerpt | strip_html }}
  {% else %}
    {{ post.content | strip_html | truncatewords: 40 }}
  {% endif %}

  [Read more →]({{ post.url | relative_url }})
{% endfor %}
{% endfor %}
